.navbar-container{
    display: flex;
    flex-direction: row;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    justify-items: left;
    text-align: center;
}