.menu-item{
    background-color: transparent;
    border:0px;
    margin:10px
    
}

.menu-item:hover{
    transform: scale(1.2);
}

    mat-toolbar{

        .navigation-inline-container ::ng-deep{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            align-content: center;
            justify-items: left;
            text-align: center;
        }

        display:flex;
        flex-direction: row;
        
        span ::ng-deep{
            color: red;
        }
}



